
.casetta{
    position: absolute;
    top:500px;
    left: 40px;
}

.ti-a{
    padding-top: 130px;
    text-align: center;
    font-size: 60px;
    font-family: "semi bold";
    color: #606c38;
    text-shadow: 1px 1px 4px rgba(61, 74, 47,0.84);
}


.atti{
    margin: 20px 120px;
    padding: 40px;
    display: flex;
    background-color: #eff0eb;
    box-shadow: 0px 8px 13px 0px rgba(77, 86, 45, 0.65);
}
.atti h3{
    padding: 20px;
    margin: 0;
    text-align: center;
    font-family: "semi bold";
    font-size: 45px;
    color: #4d562d;
    text-shadow: 1px 1px 4px rgba(77, 86, 45,0.84);
}
.atti p{
    font-family: "regular";
    font-size: 17px;
    text-align: justify;
    color: #1d2011;
    padding: 15px;
    margin-top: 0;

}
.atti div{
    margin-left: 20px;
    height: auto;
    width: 500px;
}
/* .riga{
    position: absolute;
    top: 720px;
    left: 48%;
    width: 0px !important;
    height: 300px !important;
    border: 2px solid #566132;
} */

.atti div h4 {
    font-family: "regular";
    color: #fcf6ef;
    padding: 5px;
    font-size: 19px;
    text-align: center;
    margin-top: 40px;
}

.atti div h4 a {
    background-color: #566132;
    border-radius: 10px;
    padding: 20px 30px;
    text-decoration: none;
    box-shadow: 0px 8px 13px 0px rgba(77, 86, 45, 0.65);
}

.atti div h4 a:hover {
    background-color: #606c38;
}

.atti div h4 a:focus {
    background-color: #606c38;
}

.atti div h4 a:visited {
    color: #fcf6ef;
}




.atti2{
    margin: 90px 120px;
    padding: 40px;
    display: flex;
    background-color: #eff0eb;
    box-shadow: 0px 8px 13px 0px rgba(77, 86, 45, 0.65);
}
.atti2 h3{
    padding: 20px;
    margin: 0;
    text-align: center;
    font-family: "semi bold";
    font-size: 45px;
    color: #4d562d;
    text-shadow: 1px 1px 4px rgba(77, 86, 45,0.84);
}
.atti2 p{
    font-family: "regular";
    font-size: 17px;
    text-align: justify;
    color: #1d2011;
    padding: 15px;
    margin-top: 0;

}
.atti2 div{
    margin-left: 20px;
    height: auto;
    width: 500px;
}
/* .riga{
    position: absolute;
    top: 720px;
    left: 48%;
    width: 0px !important;
    height: 300px !important;
    border: 2px solid #566132;
} */

.atti2 div h4 {
    background-color: #fefae0;
    font-family: "regular";
    color: #dda15e;
    padding: 5px;
    font-size: 19px;
    text-align: center;
    margin-top: 40px;
}

.atti2 div h4 a {
    background-color: #566132;
    border-radius: 10px;
    padding: 20px 30px;
    text-decoration: none;
    box-shadow: 0px 8px 13px 0px rgba(77, 86, 45, 0.65);
}

.atti2 div h4 a:hover {
    background-color: #606c38;
}

.atti2 div h4 a:focus {
    background-color: #606c38;
}

.atti2 div h4 a:visited {
    color: #fcf6ef;
}





.atti{
    margin: 90px 120px;
    padding: 40px;
    display: flex;
    background-color: #eff0eb;
    box-shadow: 0px 8px 13px 0px rgba(77, 86, 45, 0.65);
}
.atti h3{
    padding: 20px;
    margin: 0;
    text-align: center;
    font-family: "semi bold";
    font-size: 45px;
    color: #4d562d;
    text-shadow: 1px 1px 4px rgba(77, 86, 45,0.84);
}
.atti p{
    font-family: "regular";
    font-size: 17px;
    text-align: justify;
    color: #1d2011;
    padding: 15px;
    margin-top: 0;

}
.atti div{
    margin-left: 20px;
    height: auto;
    width: 500px;
}
/* .riga{
    position: absolute;
    top: 720px;
    left: 48%;
    width: 0px !important;
    height: 300px !important;
    border: 2px solid #566132;
} */

.atti div h4 {
    font-family: "regular";
    color: #fcf6ef;
    padding: 5px;
    font-size: 19px;
    text-align: center;
    margin-top: 40px;
}

.atti div h4 a {
    background-color: #566132;
    border-radius: 10px;
    padding: 20px 30px;
    text-decoration: none;
    box-shadow: 0px 8px 13px 0px rgba(77, 86, 45, 0.65);
}

.atti div h4 a:hover {
    background-color: #606c38;
}

.atti div h4 a:focus {
    background-color: #606c38;
}

.atti div h4 a:visited {
    color: #fcf6ef;
}