.titolo{
    padding-top: 110px;
}

.titolo h1{
    text-align: center;
    font-size: 70px;
    font-family: "semi bold";
    color: #bc6c25;
}

.t-buf{
    margin-left: 250px;
    margin-right: 250px;
}

h2{
    text-align: left;
    font-size: 30px;
    font-family: "semi bold";
    color: #bc6c25;
}

p{
    padding:0px 15px;
    text-align: justify;
    font-size: 18px;
    font-family: "light";
}
.foto img{
    height: 400px;
    width: 400px;
    padding-left: 39%;
}

.n-b{
    background-color: #d09866;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    height: 700px;
}

.n-b h1{
    text-align: center;
    font-size: 50px;
    font-family: "semi bold";
    color: #f8f0e9;
}
.n-b p{
    font-family: "regular";
    text-align: center;
    font-size: 20px;
}

.prima-r{
    display: flex;
    padding: 10px;
    margin-left: 5%;
}
.prima-r .buf{
    margin: 0px 5%;
    height: 250px;
    width: 250px;
}
h4{
    text-align: center;
    font-size: 25px;
    font-family: "semi bold";
    color: #f8f0e9;
}
.prima-r p{
    font-family: "light";
    text-align: center;
    font-size: 15px;
}