/*font*/
@font-face {
    font-family: "light";
    src: url(font/Kanit-Light.ttf);
}

@font-face {
    font-family: "semi bold";
    src: url(font/Kanit-SemiBold.ttf);
}

@font-face {
    font-family: "medium";
    src: url(font/Kanit-Medium.ttf);
}

@font-face {
    font-family: "regular";
    src: url(font/Kanit-Regular.ttf);
}

.fotof {
    width: 100%;
    height: 420px;
    padding-top: 100px;
}

.cover {
    object-fit: cover;
}

.fotof h1 {
    text-align: center;
    position: absolute;
    top: 240px;
    left: 31%;
    font-size: 75px;
    font-family: "semi bold";
    color: #fefcfa;
    text-shadow: #4b2b0f 4px 4px 4px;
}

.faq-testo {
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 30px;
}

.faq-testo h1{
    font-size: 50px;
    text-align: center;
    font-family: "medium";
    color: #b06f35;
    letter-spacing: 2px;
}
.faq-testo h2{
    font-size: 35px;
    text-align: left;
    font-family: "medium";
    color: #b06f35;
    letter-spacing: 2px;
}
.faq-testo h3{
    font-size: 20px;
    margin-left: 15px;
    text-align: left;
    font-family: "medium";
    color: #c37b3b;
    letter-spacing: 2px;
    padding-bottom:5px;
}
.faq-testo p{
    font-size: 18px;
    text-align:justify;
    font-family: "light";
    color: black;
    margin-left: 25px;
}

.faq-testo a{
    font-size: 18px;
    text-align:justify;
    font-family: "semi bold";
    color: #7e885e;
}
.contatti a{
    padding: 20px 30px;
    background-color: #c37b3b;
    color: #fcfcfc;
    text-decoration: none;
    font-size: 25px;
    margin-left: 43.5%;
    text-transform: uppercase;
    text-align: center;
}