.casetta{
    position: absolute;
    top:500px;
    left: 40px;
}

.freccia{
    position: absolute;
    top:500px;
    right: 40px;
    transform: rotate(90deg);
    padding: 8px;
    border-radius: 50px;
    background-color: #f6f8f8;
    box-shadow: -1px  3px 10px 6px rgba(210,213,213,0.58);
}
.foto-man {
    width: 100%;
    height: 350px;
    padding-top: 110px;
}

.cover {
    object-fit: cover;
}

.foto-man h1 {
    text-align: center;
    position: absolute;
    top: 170px;
    left: 20%;
    font-size: 80px;
    font-family: "semi bold";
    color: #fefcfa;
    text-shadow: rgb(0, 60, 19) 4px 4px 2px;
}

.s-spieg {
    padding: 20px;
    margin-left: 13%;
    margin-right: 13%;


}

.s-spieg h2 {
    text-align: center;
    font-size: 60px;
    font-family: "semi bold";
    color: #525e08;
    text-shadow: 1px 1px 4px rgba(57, 66, 6,0.84);
}

.s-spieg h3 {
    text-align: left;
    font-size: 30px;
    font-family: "semi bold";
    color: #525e08;
    text-shadow: 1px 1px 3px rgba(57, 66, 6,0.5);
}

.punti li{
 list-style-type:circle;
}
.punti li strong{
    color: #525e08;
    font-family: "regular";
}
.s-spieg p,
ul,
li {
    padding-left: 15px;
    text-align: justify;
    font-size: 18px;
    color: black;
    font-family: "light";
    list-style-type: none;
}

.s-spieg .s-t {
    font-family: "regular";
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
.s-an {
    background-color: #636e21;
}

.s-an h2 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 65px;
    font-family: "semi bold";
    color: #f8f0e9;
    text-shadow: 1px 3px 5px rgba(49, 56, 5,0.76);
}








.erbivori .prima-r{
    display: flex;
    padding: 10px;
    margin-left: 11%;
}

.erbivori .al, .cin, .lin, .lupo, .orso, .ric, .sco, .vol{
    margin: 0px 3%;
    background-color: #fefcfa;
    height: 210px;
    width: 210px;
    text-align: center;
    box-shadow: 0px 5px 17px -2px rgb(57, 66, 6);
}
.erbivori .prima-r .an a{
    text-decoration: none;
    position: absolute;
    top: 253.5%;
    left: 15.15%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 21px;
}
.erbivori .prima-r .an  a h4{
    color: #004616;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .an  a:hover{
    opacity: 0;
}


.erbivori .prima-r .bra a{
    text-decoration: none;
    position: absolute;
    top: 253.5%;
    left: 34.4%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 37px;
}
.erbivori .prima-r .bra a h4{
    color: #004616;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .bra a:hover{
    opacity: 0;
}



.erbivori .prima-r .cap a{
    text-decoration: none;
    position: absolute;
    top: 253.5%;
    left: 53.55%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 25px;
}
.erbivori .prima-r .cap a h4{
    color: #004616;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .cap a:hover{
    opacity: 0;
}


.erbivori .prima-r .gia a{
    text-decoration: none;
    position: absolute;
    top: 253.5%;
    left: 72.7%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 29px;
}
.erbivori .prima-r .gia a h4{
    color: #004616;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .gia a:hover{
    opacity: 0;
}










.erbivori .seconda-r{
    display: flex;
    padding: 10px;
    margin-left: 11%;
    margin-top: 40px;
    padding-bottom: 70px;
}

.erbivori .seconda-r  .lem a{
    text-decoration: none;
    position: absolute;
    top: 289.8%;
    left: 15.3%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 40px;
}
.erbivori .seconda-r  .lem a h4{
    color: #004616;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r  .lem a:hover{
    opacity: 0;
}


.erbivori .seconda-r  .sci a{
    text-decoration: none;
    position: absolute;
    top: 289.8%;
    left: 34.39%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 31px;
}
.erbivori .seconda-r  .sci a h4{
    color: #004616;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r  .sci a:hover{
    opacity: 0;
}



.erbivori .seconda-r  .tig a{
    text-decoration: none;
    position: absolute;
    top: 289.8%;
    left: 53.6%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 55px;
}
.erbivori .seconda-r   .tig a h4{
    color: #004616;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r  .tig a:hover{
    opacity: 0;
}


.erbivori .seconda-r  .ucc a{
    text-decoration: none;
    position: absolute;
    top: 289.8%;
    left: 72.75%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 45px;
}
.erbivori .seconda-r  .ucc a h4{
    color: #004616;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r .ucc a:hover{
    opacity: 0;
}
