.freccia{
    position: absolute;
    top:530px;
    right: 40px;
    transform: rotate(90deg);
    padding: 8px;
    border-radius: 50px;
    background-color: #f2f6f0;
    box-shadow: -1px 3px 10px 6px rgba(200,210,195,0.58); 
}

.foto-hab {
    width: 100%;
    height: 380px;
    padding-top: 110px;
}

.cover {
    object-fit: cover;
}

.foto-hab h1 {
    text-align: center;
    position: absolute;
    top: 190px;
    left: 39.5%;
    font-size: 80px;
    font-family: "semi bold";
    color: #fefcfa;
    text-shadow: #30361c 4px 4px 4px;
}

.h-spieg {
    padding: 20px;
    margin-left: 13%;
    margin-right: 13%;
}
.h-spieg .h-tit-s{
    text-align: center;
    margin: 0;
    font-family: "regular";
    padding-left: 70px;
    padding-right: 70px;
}

.h-spieg h2 {
    margin: 0;
    padding: 30px;
    text-align: center;
    font-size: 60px;
    font-family: "semi bold";
    color: #3e5f2b;
}

.h-spieg h3 {
    text-align: left;
    font-size: 35px;
    font-family: "semi bold";
    color: #3e5f2b;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
}

.h-spieg p,
ul,
li {
    padding-left: 15px;
    text-align: justify;
    font-size: 18px;
    color: black;
    font-family: "light";
    list-style-type: none;
    margin: 0;
    padding: 2px 20px;
}

.h-spieg{
    font-family: "regular";
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.h-spieg h4{
    text-align: left;
    font-size: 25px;
    font-family: "semi bold";
    color: #3e5f2b;
    margin: 0;
    padding: 10px;
}
.h-spieg h5{
    text-align: left;
    font-size: 20px;
    font-family: "semi bold";
    color: #476d31;
    margin: 0;
    padding: 10px;
}

.s-an {
    background-color: #799f62;
    height: 700px;
}


.s-an h3 {
    margin-bottom: 20px;
    padding:20px;
    margin-left: 3%;
    text-align: center;
    font-size: 50px;
    font-family: "semi bold";
    color: white;
}

.erbivori .prima-r{
    display: flex;
    padding: 10px;
}

.erbivori .prima-r .sav, .pal, .forp, .fort, .bc{
    margin: 0px 6%;
    background-color: #fefcfa;
    height: 210px;
    width: 210px;
    text-align: center;
}
.erbivori .prima-r .bc a{
    text-decoration: none;
    position: absolute;
    top: 665%;
    left: 19.7%;
    background-color: white;
    opacity: 0.85;
    padding: 10px 35px;
}
.erbivori .prima-r .bc a h4{
    color: #056688;
    font-family: "medium";
    font-size: 28px;
    text-align: center;
}

.erbivori .prima-r .bc a:hover{
    opacity: 0;
}



.erbivori .prima-r .pal a{
    text-decoration: none;
    position: absolute;
    top: 665%;
    left: 44%;
    background-color: white;
    opacity: 0.85;
    padding: 19px 30px;
}
.erbivori .prima-r .pal a h4{
    color: #2e5b52;
    font-family: "medium";
    font-size: 25px;
    text-align: center;
}

.erbivori .prima-r .pal a:hover{
    opacity: 0;
}



.erbivori .prima-r .forp a{
    text-decoration: none;
    position: absolute;
    top: 665%;
    left: 68.1%;
    background-color: white;
    opacity: 0.85;
    padding: 20px 45px;
}
.erbivori .prima-r .forp a h4{
    color: #3f672d;
    
    
    font-family: "medium";
    font-size: 25px;
    text-align: center;
}

.erbivori .prima-r .forp a:hover{
    opacity: 0;
}



.erbivori .prima-r .fort a{
    text-decoration: none;
    position: absolute;
    top: 702.5%;
    left: 33%;
    background-color: white;
    opacity: 0.85;
    padding: 20px 30px;
}
.erbivori .prima-r .fort a h4{
    color: #5f6624;
    font-family: "medium";
    font-size: 25px;
    text-align: center;
}

.erbivori .prima-r .fort a:hover{
    opacity: 0;
}



.erbivori .prima-r .sav  a{
    text-decoration: none;
    position: absolute;
    top: 702.5%;
    left: 55.7%;
    background-color: white;
    opacity: 0.85;
    padding: 30px 40px;
}
.erbivori .prima-r .sav a h4{
    color: #96561e;
    font-family: "medium";
    font-size: 28px;
    text-align: center;
}

.erbivori .prima-r .sav a:hover{
    opacity: 0;
}