/*font*/
@font-face {
    font-family: "light";
    src: url(font/Kanit-Light.ttf);
}
@font-face {
    font-family: "semi bold";
    src: url(font/Kanit-SemiBold.ttf);
}
@font-face {
    font-family: "medium";
    src: url(font/Kanit-Medium.ttf);
}
@font-face {
    font-family: "regular";
    src: url(font/Kanit-Regular.ttf);
}
body {
    background-color: #ffffff;
    margin: 0;
}

/*menu*/

header{
    
    background-color: #fcf6ef;
    position: fixed;
    width: 100%;
    height: 100px;
    margin: none;
    -webkit-box-shadow: 5px 12px 34px -8px rgba(238,208,175,0.68); 
    box-shadow: 5px 12px 34px -8px rgba(238,208,175,0.68);
    z-index: 1;
}

.n_h{
    position: fixed;
    top: 23px;
    left: 130px;
    font-family: "regular";
    font-size:36px;
    text-decoration: none;
    color: #585D35;
}
.logo {
    position: fixed;
    margin-top: 5px;
    margin-left: 5px;
}
.info{
    position: fixed;
    top: 30px;
    right: 20px;
}
.flag{
    position: absolute;
    top: 40px;
    right: 30px;

}
.flag:checked ~ .menu{
    display: block;
}

/*nav*/
.menu{
    position:fixed;
    top: 100px;
    width: 100%;
    background-color: #fcf6ef;
    color: #585D35;
    text-align: center;
    z-index: 1;
    display: none;
}
.info:hover ~ .menu{
    display: block;
}
.info:focus ~ .menu{
    display: block;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li a{
    color: #585D35;
    text-decoration: none;
    font-family: "regular";
    font-size: 25px;
    
    padding-left: 20px;
    padding-right: 20px;
}
nav li{
    display: inline-block;
    padding: 15px;
}
nav li a:hover{
    color: #3e4125;
    text-decoration: underline;
}
nav li a:focus{
    color: #3e4125;
    text-decoration: underline;
}
/*Menu tendina parco*/

.p-t{
    position: absolute;
    left: 0;
    background-color: #fefcfa;
    margin-top: 15px;
    width: 100%;
    text-align: left;
    display: none;
}
.p-t a{
    display: block;
}
.p-t a:hover{
    color: #3e4125;
}
.parco:hover ~ .p-t{
    display: flex;
}
.parco:focus ~ .p-t{
    display: flex;
}

.p-t .in li{
    display: block;
    padding: 10px;
    margin-left: 20%;
}
.tit-t{
    font-family: "medium";
    font-size: 20px;
    margin-top: 15px;
}
.p-t li a{
    font-size: 18px;
    font-family: "regular";
    padding-left: 5px;
}
.p-t .per li{
    display: block;
    padding: 10px;
}
.in{
    width: 20%;
    padding-bottom: 10px;
    margin-left: 35%;
}
.per{
    width: 20%;
    padding-bottom: 10px;
}

/*Menu tendina animli*/
.a-t{
    position: absolute;
    left: 0;
    background-color: #fefcfa;
    margin-top: 15px;
    width: 100%;
    text-align: left;
    display: none;
    
}
.a-t a{
    display: block;
}
.a-t a:hover{
    color: #3e4125;
}
.animali:hover ~ .a-t{
    display: flex;
}
.animali:focus ~ .a-t{
    display: flex;
}

.a-t .in li{
    display: block;
    padding: 10px;
    margin-left: 20%;
}
.tit-t{
    font-family: "medium";
    font-size: 20px;
    margin-top: 15px;
}
.a-t li a{
    font-size: 18px;
    font-family: "regular";
    padding-left: 5px;
}
.a-t .per li{
    display: block;
    padding: 10px;
}
.in{
    width: 20%;
    padding-bottom: 10px;
    margin-left: 35%;
}
.per{
    width: 20%;
    padding-bottom: 10px;
}

/*Menu tendina informaizoni*/
.i-t{
    position: absolute;
    left: 0;
    background-color: #fefcfa;
    margin-top: 15px;
    width: 100%;
    text-align: left;
    display: none;
}
.i-t a{
    display: block;
}
.i-t a:hover{
    color: #3e4125;
}
.informazioni:hover ~ .i-t{
    display: flex;
}
.informazioni:focus ~ .i-t{
    display: flex;
}

.i-t .in li{
    display: block;
    padding: 10px;
    margin-left: 20%;
}
.tit-t{
    font-family: "medium";
    font-size: 20px;
    margin-top: 15px;
}
.i-t li a{
    font-size: 18px;
    font-family: "regular";
    padding-left: 5px;
}
.i-t .per li{
    display: block;
    padding: 10px;
}
.in{
    width: 20%;
    padding-bottom: 10px;
    margin-left: 45%;
}
/*Foto elefanti e scritta benvenuti*/

img{
    width: 100%;
    height: 100%;
}
.fotoh{
    width: 100%;
    height: 500px;
    padding-top: 100px;
}
.cover{
    object-fit: cover;
}

.ben{
    text-align: center;
    position: absolute;
    top: 250px;
    left:42.5%;
    font-size: 75px;
    font-family: "semi bold";
    color: #fefcfa;
    text-shadow: #3e4125 4px 4px 4px;
}

/*div con gli eventi*/
.ev{
    background-color: #c37b3b;
    margin: 0;
    width: 100%;
    height: 300px;
    padding: 20px;
}

.sev{
    margin-left: 300px;
    font-family: "medium";
    color: #ffffff;
    text-shadow: #42260d 1px 1px 1px;
}
/*modulo form
option {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
}

input[type="radio"] {
    margin-left: 10px;
    margin-right: 10px;
}

input[type="text"] {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: #0C273C;
}

input[type="date"] {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
input[type="password"] {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
input[type="email"] {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/*div che contiene l'iscrizione
.iscrizione {
    position: absolute;
    top: 160px;
    left: 550px;

    width: 500px;
    background-color: #657a89;
    border: 3px solid white;
}

/*h2 dell'iscrizione
.scrittamod {
    text-align: center;
    color: #fff;
}

.p_i {
    color: #fff;
    text-align: center;
    margin-top: 180px;
    font-size: 40px;
    padding: 20px;
}

/*div che contengono i vari moduli (nome, nascita e genere)
.nome {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nascita {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.gen {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.email{
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.pass{
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*p nei div dei modulic he danno il titolo
.mod {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

/*bottone
.invia {
    margin-left: 150px;
    padding-top: 30px;
    padding-bottom: 20px;
}

input[type="submit"] {
    padding: 8px;
    font-size: 17px;
    font-weight: 600;
    margin-right: 15px;
}
input[type="submit"]:hover {
    
    -webkit-box-shadow: 5px 4px 17px 0px rgba(12, 39, 60, 0.62);
    box-shadow: 5px 4px 17px 0px rgba(12, 39, 60, 0.62);
}
input[type="reset"] {
    padding: 5px;
    font-size: 17px;
    font-weight: 600;
    margin-right: 15px;
}
input[type="reset"]:hover {
    
    -webkit-box-shadow: 5px 4px 17px 0px rgba(12, 39, 60, 0.62);
    box-shadow: 5px 4px 17px 0px rgba(12, 39, 60, 0.62);
}
