/*font*/
@font-face {
    font-family: "light";
    src: url(font/Kanit-Light.ttf);
}
@font-face {
    font-family: "semi bold";
    src: url(font/Kanit-SemiBold.ttf);
}
@font-face {
    font-family: "medium";
    src: url(font/Kanit-Medium.ttf);
}
@font-face {
    font-family: "regular";
    src: url(font/Kanit-Regular.ttf);
}
body {
    background-color: #ffffff;
    margin: 0;
}

/*menu*/
header{
    background-color: #fcf6ef;
    position: fixed;
    width: 100%;
    height: 100px;
    margin: none;
    -webkit-box-shadow: 5px 12px 34px -8px rgba(238,208,175,0.68); 
    box-shadow: 5px 12px 34px -8px rgba(238,208,175,0.68);
}

.n_h{
    position: fixed;
    top: 23px;
    left: 130px;
    font-family: "regular";
    font-size:36px;
    text-decoration: none;
    color: #585D35;
}
.logo {
    position: fixed;
    height: 100px;
}
.info{
    position: fixed;
    top: 30px;
    right: 20px;
}


/*nav*/
nav{
    position: fixed;
    top: 110px;
    width: 100%;
    background-color: #fcf6ef;
    color: #585D35;
    
    text-align: center;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li a{
    color: #585D35;
    text-decoration: none;
    font-family: "regular";
    font-size: 25px;
    
    padding-left: 20px;
    padding-right: 20px;
}
nav li{
    display: inline-block;
    padding: 15px;
}
nav li a:hover{
    color: #3e4125;
    text-decoration: underline;
}
nav li a:focus{
    color: #3e4125;
    text-decoration: underline;
}

/*Menu tendina parco*/
.p-t{
    position: absolute;
    left: 0;
    background-color: #fefcfa;
    margin-top: 15px;
    width: 100%;
    text-align: left;
    display: none;
}
.p-t a{
    display: block;
}
.p-t a:hover{
    color: #3e4125;
}
.parco:hover ~ .p-t{
    display: flex;
}
.parco:focus ~ .p-t{
    display: flex;
}

.p-t .in li{
    display: block;
    padding: 10px;
    margin-left: 20%;
}
.tit-t{
    font-family: "medium";
    font-size: 20px;
    margin-top: 15px;
}
.p-t li a{
    font-size: 18px;
    font-family: "regular";
    padding-left: 5px;
}
.p-t .per li{
    display: block;
    padding: 10px;
}
.in{
    width: 20%;
    padding-bottom: 10px;
    margin-left: 35%;
}
.per{
    width: 20%;
    padding-bottom: 10px;
}


/*modulo form
option {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
}

input[type="radio"] {
    margin-left: 10px;
    margin-right: 10px;
}

input[type="text"] {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: #0C273C;
}

input[type="date"] {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
input[type="password"] {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
input[type="email"] {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/*div che contiene l'iscrizione
.iscrizione {
    position: absolute;
    top: 160px;
    left: 550px;

    width: 500px;
    background-color: #657a89;
    border: 3px solid white;
}

/*h2 dell'iscrizione
.scrittamod {
    text-align: center;
    color: #fff;
}

.p_i {
    color: #fff;
    text-align: center;
    margin-top: 180px;
    font-size: 40px;
    padding: 20px;
}

/*div che contengono i vari moduli (nome, nascita e genere)
.nome {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nascita {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.gen {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.email{
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.pass{
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*p nei div dei modulic he danno il titolo
.mod {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

/*bottone
.invia {
    margin-left: 150px;
    padding-top: 30px;
    padding-bottom: 20px;
}

input[type="submit"] {
    padding: 8px;
    font-size: 17px;
    font-weight: 600;
    margin-right: 15px;
}
input[type="submit"]:hover {
    
    -webkit-box-shadow: 5px 4px 17px 0px rgba(12, 39, 60, 0.62);
    box-shadow: 5px 4px 17px 0px rgba(12, 39, 60, 0.62);
}
input[type="reset"] {
    padding: 5px;
    font-size: 17px;
    font-weight: 600;
    margin-right: 15px;
}
input[type="reset"]:hover {
    
    -webkit-box-shadow: 5px 4px 17px 0px rgba(12, 39, 60, 0.62);
    box-shadow: 5px 4px 17px 0px rgba(12, 39, 60, 0.62);
}
