.casetta{
    position: absolute;
    top:500px;
    left: 40px;
}

.freccia{
    position: absolute;
    top:500px;
    right: 40px;
    transform: rotate(90deg);
    padding: 8px;
    border-radius: 50px;
    background-color: #f6f8f8;
    box-shadow: -1px  3px 10px 6px rgba(210,213,213,0.58);
}
.foto-man {
    width: 100%;
    height: 350px;
    padding-top: 110px;
}

.cover {
    object-fit: cover;
}

.foto-man h1 {
    text-align: center;
    position: absolute;
    top: 170px;
    left: 20%;
    font-size: 80px;
    font-family: "semi bold";
    color: #fefcfa;
    text-shadow: #30361c 4px 4px 2px;
}

.s-spieg {
    padding: 20px;
    margin-left: 13%;
    margin-right: 13%;


}

.s-spieg h2 {
    text-align: center;
    font-size: 60px;
    font-family: "semi bold";
    color: #274e46;
    text-shadow: 1px 1px 4px rgba(27, 55, 49,0.84);
}

.s-spieg h3 {
    text-align: left;
    font-size: 30px;
    font-family: "semi bold";
    color: #274e46;
    text-shadow: 1px 1px 3px rgba(27, 55, 49,0.5);
}

.punti li{
 list-style-type:circle;
}
.punti li strong{
    color: #274e46;
    font-family: "regular";
}
.s-spieg p,
ul,
li {
    padding-left: 15px;
    text-align: justify;
    font-size: 18px;
    color: black;
    font-family: "light";
    list-style-type: none;
}

.s-spieg .s-t {
    font-family: "regular";
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
.s-an {
    background-color: #3d6059;
}

.s-an h2 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 65px;
    font-family: "semi bold";
    color: #f8f0e9;
    text-shadow: 1px 3px 5px rgba(27, 55, 49,0.76);
}

.s-an h3 {
    margin-top: 10px;
    margin-left: 3%;
    text-align: left;
    font-size: 50px;
    font-family: "semi bold";
    color: #f8f0e9;
}

.erbivori .prima-r{
    display: flex;
    padding: 10px;
    margin-left: 9%;
}

.erbivori .prima-r .bufalo, .elefante, .giraffa, .ippo, .leo, .par, .struzzo, .zebra{
    margin: 0px 3%;
    background-color: #fefcfa;
    height: 210px;
    width: 210px;
    text-align: center;
    box-shadow: 0px 5px 17px -2px #172f2a;
}
.erbivori .prima-r .bufalo a{
    text-decoration: none;
    position: absolute;
    top: 311.6%;
    left: 13.6%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 42px;
}
.erbivori .prima-r .bufalo a h4{
    color: #274e46;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .bufalo a:hover{
    opacity: 0;
}


.erbivori .prima-r .elefante a{
    text-decoration: none;
    position: absolute;
    top: 311.6%;
    left: 32.7%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 33px;
}
.erbivori .prima-r .elefante a h4{
    color: #274e46;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .elefante a:hover{
    opacity: 0;
}



.erbivori .prima-r .giraffa a{
    text-decoration: none;
    position: absolute;
    top: 311.6%;
    left: 51.9%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 43px;
}
.erbivori .prima-r .giraffa a h4{
    color: #274e46;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .giraffa a:hover{
    opacity: 0;
}


.erbivori .prima-r .ippo a{
    text-decoration: none;
    position: absolute;
    top: 311.6%;
    left: 71.1%;
    background-color: white;
    opacity: 0.9;
    padding: 30px 13px;
}
.erbivori .prima-r .ippo a h4{
    color: #274e46;
    font-family: "medium";
    font-size: 28px;
    text-align: center;
}

.erbivori .prima-r .ippo a:hover{
    opacity: 0;
}










.erbivori .seconda-r{
    display: flex;
    padding: 10px;
    margin-left: 9%;
    margin-top: 40px;
    padding-bottom: 70px;
}

.erbivori .seconda-r  .leo a{
    text-decoration: none;
    position: absolute;
    top: 347.8%;
    left: 13.6%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 45px;
}
.erbivori .seconda-r  .leo a h4{
    color: #274e46;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r  .leo a:hover{
    opacity: 0;
}


.erbivori .seconda-r  .par a{
    text-decoration: none;
    position: absolute;
    top: 347.8%;
    left: 32.5%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 25px;
}
.erbivori .seconda-r  .par a h4{
    color: #274e46;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r  .par a:hover{
    opacity: 0;
}



.erbivori .seconda-r  .struzzo a{
    text-decoration: none;
    position: absolute;
    top: 347.8%;
    left: 51.7%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 40px;
}
.erbivori .seconda-r  .struzzo a h4{
    color: #274e46;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r  .struzzo a:hover{
    opacity: 0;
}


.erbivori .seconda-r  .zebra a{
    text-decoration: none;
    position: absolute;
    top: 347.8%;
    left: 71.1%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 50px;
}
.erbivori .seconda-r  .zebra a h4{
    color: #274e46;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r .zebra a:hover{
    opacity: 0;
}
