.foto-sav {
    width: 100%;
    height: 350px;
    padding-top: 110px;
}

.cover {
    object-fit: cover;
}

.foto-sav h1 {
    text-align: center;
    position: absolute;
    top: 150px;
    left: 21%;
    font-size: 80px;
    font-family: "semi bold";
    color: #fefcfa;
    text-shadow: #283541 4px 4px 4px;
}



.piccoli {
    background-color: #a9c7e4;
    padding: 30px 0;
}
.piccoli p{
    color: #1a232b;
    font-family: "regular";
    font-size: 18px;
    padding: 10px 200px 20px 200px;
    text-align: center;
}
.piccoli h2{
    margin: 0px;
    font-family: "semi bold";
    font-size: 40px;
    color: #354657;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 5px rgba(26, 35, 43, 0.4);
}

.disp{
    display: flex;
    padding-bottom: 40px;
}


.piccoli .disp .nat {
    width: 300px;
    padding: 15px;
    
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 8%;
    margin-top: 30px;
    background-color: #dae7f4;
    box-shadow: 0px 8px 13px 0px rgba(79, 105, 130, 0.65);
}
.piccoli .nat h3 {
    font-family: "medium";
    text-shadow: 1px 3px 5px rgba(79, 105, 130, 0.7);
    color: #4f6982;
    padding: 10px;
    margin: 0;
    font-size: 30px;
    text-align: center;
}
.piccoli .nat img{
    box-shadow: 0px 8px 13px 0px rgba(79, 105, 130, 0.65);
}

.piccoli .disp .nat p {
    margin: 0;
    padding: 5px 17px;
    font-family: "regular";
    color: #354657;
    font-size: 15px;
    text-align: center;
}
.piccoli .disp .nat a {
    margin: 0;
    padding: 5px;
    padding-left: 260px;
    color: #844c1a;
}



.piccoli .disp .cuc {
    width: 300px;
    padding: 15px;
    
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 11%;
    margin-top: 30px;
    background-color: #dae7f4;
    box-shadow: 0px 8px 13px 0px rgba(79, 105, 130, 0.65);
}
.piccoli .cuc h3 {
    font-family: "medium";
    text-shadow: 1px 3px 5px rgba(79, 105, 130, 0.7);
    color: #4f6982;
    padding: 10px;
    margin: 0;
    font-size: 30px;
    text-align: center;
}
.piccoli .cuc img{
    box-shadow: 0px 8px 13px 0px rgba(79, 105, 130, 0.65);
}

.piccoli .disp .cuc p {
    margin: 0;
    padding: 5px 13px;
    font-family: "regular";
    color: #354657;
    font-size: 15px;
    text-align: center;
}
.piccoli .disp .cuc a {
    margin: 0;
    padding: 5px;
    padding-left: 260px;
    color: #844c1a;
}