.casetta{
    position: absolute;
    top:500px;
    left: 40px;
}

.freccia{
    position: absolute;
    top:500px;
    right: 40px;
    transform: rotate(90deg);
    padding: 8px;
    border-radius: 50px;
    background-color: #ebf3f5;
    box-shadow: -1px  3px 10px 6px rgba(210,213,213,0.58);
}
.foto-man {
    width: 100%;
    height: 350px;
    padding-top: 110px;
}

.cover {
    object-fit: cover;
}

.foto-man h1 {
    text-align: center;
    position: absolute;
    top: 180px;
    left: 40%;
    font-size: 80px;
    font-family: "semi bold";
    color: #fefcfa;
    text-shadow: #033344 4px 4px 4px;
}

.s-spieg {
    padding: 20px;
    margin-left: 13%;
    margin-right: 13%;


}

.s-spieg h2 {
    text-align: center;
    font-size: 60px;
    font-family: "semi bold";
    color: #04526d;
    text-shadow: 1px 1px 4px rgba(2, 49, 65,0.84);
}

.s-spieg h3 {
    text-align: left;
    font-size: 30px;
    font-family: "semi bold";
    color: #04526d;
    text-shadow: 1px 1px 3px rgba(2, 49, 65,0.5);
}

.s-spieg p,
ul,
li {
    padding-left: 15px;
    text-align: justify;
    font-size: 18px;
    color: black;
    font-family: "light";
    list-style-type: none;
}

.s-spieg .s-t {
    font-family: "regular";
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

.s-an {
    background-color: #3785a0;
}

.s-an h2 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 65px;
    font-family: "semi bold";
    color: #f8f0e9;
    text-shadow: 1px 3px 5px rgba(2, 49, 65,0.76);
}

.s-an h3 {
    margin-top: 10px;
    margin-left: 3%;
    text-align: left;
    font-size: 50px;
    font-family: "semi bold";
    color: #f8f0e9;
}
.s-spieg .t-st{
    color: #023a4d;
    font-family: "regular";
}

.erbivori .prima-r{
    display: flex;
    padding: 10px;
    margin-left: 11%;
    margin-top: 40px;
}

.erbivori .bal, .bel, .delf, .foca, .manta, .med, .orca, .ping, .pesci, .pol, .squa, .tart{
    margin: 0px 3%;
    background-color: #fefcfa;
    height: 210px;
    width: 210px;
    text-align: center;
    box-shadow: 0px 5px 17px -2px #023141;
}




.erbivori .prima-r .bal a{
    text-decoration: none;
    position: absolute;
    top: 260%;
    left: 15.5%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 40px;
}
.erbivori .prima-r .bal a h4{
    color: #04526d;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .bal a:hover{
    opacity: 0;
}


.erbivori .prima-r .bel a{
    text-decoration: none;
    position: absolute;
    top: 260%;
    left: 34.5%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 42px;
}
.erbivori .prima-r .bel a h4{
    color: #04526d;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .bel a:hover{
    opacity: 0;
}



.erbivori .prima-r .delf a{
    text-decoration: none;
    position: absolute;
    top: 260%;
    left: 53.6%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 42px;
}
.erbivori .prima-r .delf a h4{
    color: #04526d;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .delf a:hover{
    opacity: 0;
}


.erbivori .prima-r .foca a{
    text-decoration: none;
    position: absolute;
    top: 260%;
    left: 72.6%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 59px;
}
.erbivori .prima-r .foca a h4{
    color: #04526d;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .foca a:hover{
    opacity: 0;
}














.erbivori .seconda-r{
    display: flex;
    padding: 10px;
    margin-left: 11%;
    margin-top: 40px;
}

.erbivori .seconda-r .manta a{
    text-decoration: none;
    position: absolute;
    top: 296.7%;
    left: 15.5%;
    background-color: white;
    opacity: 0.9;
    padding: 26px 45px;
}
.erbivori .seconda-r .manta a h4{
    color: #04526d;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r .manta a:hover{
    opacity: 0;
}



.erbivori .seconda-r .med a{
    text-decoration: none;
    position: absolute;
    top: 296.6%;
    left: 34.55%;
    background-color: white;
    opacity: 0.9;
    padding: 26px 36px;
}
.erbivori .seconda-r .med a h4{
    color: #04526d;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r .med a:hover{
    opacity: 0;
}


.erbivori .seconda-r .orca a{
    text-decoration: none;
    position: absolute;
    top: 296.6%;
    left: 53.6%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 58px;
}
.erbivori .seconda-r .orca a h4{
    color: #04526d;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r .orca a:hover{
    opacity: 0;
}



.erbivori .seconda-r .pesci a{
    text-decoration: none;
    position: absolute;
    top: 296.6%;
    left: 72.8%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 51px;
}
.erbivori .seconda-r .pesci a h4{
    color: #04526d;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r .pesci a:hover{
    opacity: 0;
}




.erbivori .terza-r{
    display: flex;
    padding: 10px;
    margin-left: 11%;
    margin-top: 40px;
    padding-bottom: 70px;
}

.erbivori .terza-r .ping a{
    text-decoration: none;
    position: absolute;
    top: 332.8%;
    left: 15.25%;
    background-color: white;
    opacity: 0.9;
    padding: 26px 33px;
}
.erbivori .terza-r .ping a h4{
    color: #04526d;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .terza-r .ping a:hover{
    opacity: 0;
}



.erbivori .terza-r .pol a{
    text-decoration: none;
    position: absolute;
    top: 332.8%;
    left: 34.6%;
    background-color: white;
    opacity: 0.9;
    padding: 26px 47px;
}
.erbivori .terza-r .pol a h4{
    color: #04526d;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .terza-r .pol a:hover{
    opacity: 0;
}


.erbivori .terza-r .squa a{
    text-decoration: none;
    position: absolute;
    top: 332.8%;
    left: 53.6%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 48px;
}
.erbivori .terza-r .squa a h4{
    color: #04526d;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .terza-r .squa a:hover{
    opacity: 0;
}



.erbivori .terza-r .tart a{
    text-decoration: none;
    position: absolute;
    top: 332.8%;
    left: 72.8%;
    background-color: white;
    opacity: 0.9;
    padding: 27px 24px;
}
.erbivori .terza-r .tart a h4{
    color: #04526d;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .terza-r .tart a:hover{
    opacity: 0;
}
