.foto-sav {
    width: 100%;
    height: 350px;
    padding-top: 110px;
}

.cover {
    object-fit: cover;
}

.foto-sav h1 {
    text-align: center;
    position: absolute;
    top: 190px;
    left: 42.5%;
    font-size: 80px;
    font-family: "semi bold";
    color: #fefcfa;
    text-shadow: #38200b 4px 4px 4px;
}

.s-spieg {
    padding: 20px;
    margin-left: 13%;
    margin-right: 13%;


}

.s-spieg h2 {
    text-align: center;
    font-size: 60px;
    font-family: "semi bold";
    color: #a96121;
}

.s-spieg h3 {
    text-align: left;
    font-size: 30px;
    font-family: "semi bold";
    color: #a96121;
}

.s-spieg p,
ul,
li {
    padding-left: 15px;
    text-align: justify;
    font-size: 18px;
    color: black;
    font-family: "light";
    list-style-type: none;
}

.s-spieg .s-t {
    font-family: "regular";
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

.s-an {
    background-color: #c98951;
    padding: 10px;
}

.s-an h2 {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 60px;
    font-family: "semi bold";
    color: #f8f0e9;
}

.s-an h3 {
    margin-left: 3%;
    text-align: left;
    font-size: 50px;
    font-family: "semi bold";
    color: #f8f0e9;
}

.erbivori .prima-r{
    display: flex;
    padding: 10px;
    margin-left: 5%;
}

.erbivori .prima-r .bufalo{
    margin: 0px 5%;
    background-color: #fefcfa;
    height: 250px;
    width: 250px;
    text-align: center;
}
.erbivori .prima-r .bufalo a{
    text-decoration: none;
    position: absolute;
    top: 240%;
    left: 12.5%;
    background-color: white;
    opacity: 0.9;
    padding: 45px;
}
.erbivori .prima-r .bufalo a h4{
    color: #96561e;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .bufalo a:hover{
    opacity: 0;
}

.erbivori .prima-r .elefante{
    margin: 0px 5%;
    background-color: #fefcfa;
    height: 250px;
    width: 250px;
    text-align: center;
}

.erbivori .prima-r .elefante a{
    text-decoration: none;
    position: absolute;
    /* top: 2280px; */
    top: 240%;
    /* left: 1078px; */
    left: 34.5%;
    background-color: white;
    opacity: 0.9;
    padding: 45px;
}
.erbivori .prima-r .elefante a h4{
    color: #96561e;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .elefante a:hover{
    opacity: 0;
}



.erbivori .prima-r .gazzella{
    margin: 0px 5%;
    background-color: #fefcfa;
    height: 250px;
    width: 250px;
    text-align: center;
}

.erbivori .prima-r .gazzella a{
    text-decoration: none;
    position: absolute;
    /* top: 2280px; */
    top: 240%;
    /* left: 1078px; */
    left: 56.7%;
    background-color: white;
    opacity: 0.9;
    padding: 45px;
}
.erbivori .prima-r .gazzella a h4{
    color: #96561e;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .gazzella a:hover{
    opacity: 0;
}


.erbivori .prima-r .giraffa{
    margin: 0px 5%;
    background-color: #fefcfa;
    height: 250px;
    width: 250px;
    text-align: center;
}
.erbivori .prima-r .giraffa a{
    text-decoration: none;
    position: absolute;
    /* top: 2280px; */
    top: 240%;
    /* left: 1078px; */
    left: 80%;
    background-color: white;
    opacity: 0.9;
    padding: 45px;
}
.erbivori .prima-r .giraffa a h4{
    color: #96561e;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .giraffa a:hover{
    opacity: 0;
}














.erbivori .seconda-r{
    display: flex;
    padding: 10px;
    margin-left: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.erbivori .seconda-r .ippo{
    margin: 0px 5%;
    background-color: #fefcfa;
    height: 250px;
    width: 250px;
    text-align: center;
}
.erbivori .seconda-r .ippo a{
    text-decoration: none;
    position: absolute;
    top: 279.5%;
    left: 11.3%;
    background-color: white;
    opacity: 0.9;
    padding: 40px 30px;
}
.erbivori .seconda-r .ippo a h4{
    color: #96561e;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r .ippo a:hover{
    opacity: 0;
}


.erbivori .seconda-r .rino{
    margin: 0px 5%;
    background-color: #fefcfa;
    height: 250px;
    width: 250px;
    text-align: center;
}
.erbivori .seconda-r .rino a{
    text-decoration: none;
    position: absolute;
    top: 279.5%;
    left: 33.8%;
    background-color: white;
    opacity: 0.9;
    padding: 40px 30px;
}
.erbivori .seconda-r .rino a h4{
    color: #96561e;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r .rino a:hover{
    opacity: 0;
}



.erbivori .seconda-r .struzzo{
    margin: 0px 5%;
    background-color: #fefcfa;
    height: 250px;
    width: 250px;
    text-align: center;
}
.erbivori .seconda-r .struzzo a{
    text-decoration: none;
    position: absolute;
    top: 279%;
    left: 57.2%;
    background-color: white;
    opacity: 0.9;
    padding: 45px;
}
.erbivori .seconda-r .struzzo a h4{
    color: #96561e;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r .struzzo a:hover{
    opacity: 0;
}



.erbivori .seconda-r .zebra{
    margin: 0px 5%;
    background-color: #fefcfa;
    height: 250px;
    width: 250px;
    text-align: center;
}
.erbivori .seconda-r .zebra a{
    text-decoration: none;
    position: absolute;
    top: 279%;
    left: 79.5%;
    background-color: white;
    opacity: 0.9;
    padding: 45px 60px;
}
.erbivori .seconda-r .zebra a h4{
    color: #96561e;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .seconda-r .zebra a:hover{
    opacity: 0;
}
