/*font*/
@font-face {
    font-family: "light";
    src: url(font/Kanit-Light.ttf);
}
@font-face {
    font-family: "semi bold";
    src: url(font/Kanit-SemiBold.ttf);
}
@font-face {
    font-family: "medium";
    src: url(font/Kanit-Medium.ttf);
}
@font-face {
    font-family: "regular";
    src: url(font/Kanit-Regular.ttf);
}
/*seguici sui social*/
.social{
    width: 100%;
    height: 240px;
    background-color: #ffffff;
}
div .facebook img{
    height: 60px;
    width: 80px;
    position: relative;
    top: 20px;
    left: 32.5%;
    transition: all .2s ease;
}
div .facebook img:hover {
    padding-bottom: 15px;
    border-bottom: 5px #1878F3 solid;
}
div .instagram img{
    height: 68px;
    width: 70px;
    position: relative;
    top: 24px;
    left: 37.5%;
    transition: all .2s ease;
}
div .instagram img:hover {
    padding-bottom: 10px;
    border-bottom: 5px #D72D7E solid;
}
div .youtube img{
    height: 55px;
    width: 70px;
    position: relative;
    top: 20px;
    left: 42.5%;
    transition: all .2s ease;
}
div .youtube img:hover {
    
    padding-bottom: 19px;
    border-bottom: 5px #FE0000 solid;
}

div .twitter img{
    height: 60px;
    width: 70px;
    position: relative;
    top: 20px;
    left: 47.5%;
    transition: all .2s ease;
}
div .twitter img:hover {
    padding-bottom: 15px;
    border-bottom: 5px #28A9E0 solid;
}
.social h1{
    padding-top: 15px;
    font-size: 40px;
    text-align: center;
    font-family: "medium";
    color: #606c38;
    letter-spacing: 2px;
}