.casetta{
    position: absolute;
    top:150px;
    left: 40px;
}



.freccia{
    position: absolute;
    top:130px;
    left: 40px;
    transform: rotate(180deg);
}


.s-an {
    background-color: #00501a;
    padding-top: 110px;
}

.s-an h2 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 65px;
    font-family: "semi bold";
    color: #f8f0e9;
    text-shadow: 1px 3px 5px rgba(0, 30, 10,0.76);
}



.erbivori .prima-r{
    display: flex;
    padding: 70px 10px;
    padding-bottom: 90px;
}
.erbivori .prima-r .tuc, .pal, .forp, .fort{
    margin: 0px 4%;
    height: 210px;
    width: 210px;
    text-align: center;
    box-shadow: 0px 5px 17px -2px rgb(0, 30, 10);
}


.erbivori .prima-r .pal a{
    text-decoration: none;
    position: absolute;
    top: 47.5%;
    left: 32.6%;
    background-color: white;
    opacity: 0.85;
    padding: 27px 45px;
}
.erbivori .prima-r .pal a h4{
    color: #00501a;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .pal a:hover{
    opacity: 0;
}



.erbivori .prima-r .forp a{
    text-decoration: none;
    position: absolute;
    top: 47.5%;
    left: 53.8%;
    background-color: white;
    opacity: 0.85;
    padding: 7px 17px;
}
.erbivori .prima-r .forp a h4{
    color: #00501a;
    font-family: "medium";
    font-size: 29px;
    text-align: center;
}

.erbivori .prima-r .forp a:hover{
    opacity: 0;
}



.erbivori .prima-r .fort a{
    text-decoration: none;
    position: absolute;
    top: 47.5%;
    left: 11.5%;
    background-color: white;
    opacity: 0.85;
    padding: 5px 45px;
}
.erbivori .prima-r .fort a h4{
    color: #00501a;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .fort a:hover{
    opacity: 0;
}



.erbivori .prima-r .tuc  a{
    text-decoration: none;
    position: absolute;
    top: 47.5%;
    left: 75.1%;
    background-color: white;
    opacity: 0.85;
    padding: 27px 42px;
}
.erbivori .prima-r .tuc a h4{
    color: #00501a;
    font-family: "medium";
    font-size: 30px;
    text-align: center;
}

.erbivori .prima-r .tuc a:hover{
    opacity: 0;
}